@import url(http://fonts.googleapis.com/css?family=Domine);

// mixins and vars
@white: #FFF;
@black: #000;
@lightBlue: #09455C;
@darkBlue: #213556;
@pink: #EF6362;
@lightGreen: #C9E7DD;
@darkGreen: #C4D224;
@lightGrey: #F3F5F2;
@darkGrey: #9E9A99;

.standardFont {
	font-family: 'Domine', 'serif';
	-webkit-font-smoothing: antialiased;
}

.textShadow(@offsetX: 1px, @offsetY: 1px, @blur: 1px, @color: fade(@black, 30%)) {
	text-shadow: @offsetX @offsetY @blur @color;
}

.boxShadow(@offsetX: 1px, @offsetY: 1px, @blur: 2px, @spread: 3px, @color: fade(@black, 50%)) {
	-moz-box-shadow: @offsetX @offsetY @blur @spread @color;
	-webkit-box-shadow: @offsetX @offsetY @blur @spread @color;
	box-shadow: @offsetX @offsetY @blur @spread @color;
}

.transition(@target: all, @time: 200ms, @type: linear) {
	-moz-transition: @target @time @type;
	-o-transition: @target @time @type;
	-webkit-transition: @target @time @type;
	transition: @target @time @type;
}

.transform(@value) {
	-moz-transform: @value;
	-ms-transform: @value;
	-o-transform: @value;
	-webkit-transform: @value;
	transform: @value;
}

.transformOrigin(@value) {
	-moz-transform-origin: @value;
	-ms-transform-origin: @value;
	-o-transform-origin: @value;
	-webkit-transform-origin: @value;
	transform-origin: @value;
}

.borderRadius(@value) {
	-moz-border-radius: @value;
	-webkit-border-radius: @value;
	border-radius: @value;
}

// reset
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 16px;
	.standardFont;
	width: 100%;
}

// main styles
body {
	background-color: @lightGreen;
}

header {
	background-color: lighten(@lightBlue, 50%);
	margin-top: 10%;
	padding: 3rem 0;
	text-align: center;
	width: 100%;

	h1 {
		color: @white;
		margin-top: 200px;
		.textShadow;
	}

	p {
		color: @lightBlue;
		padding: 2rem;
	}

	.heart {
		height: 200px;
		width: 200px;
		left: 50%;
		position: absolute;
		.transform(translateX(-50%));
		.transition;
		.transformOrigin(100% 0);

		&:hover {
			.transform(scale(2));
		}

		.left,
		.right {
			border: 2px solid @lightBlue;
			position: absolute;
			width: 100px;
			height: 160px;
			background: lighten(@lightBlue, 20%);
			.borderRadius(50px 50px 0 0);
		}

		.left {
			border-right: none;
			left: 100px;
			.transform(rotate(-45deg));
			.transformOrigin(0 100%);
		}

		.right {
			border-left: none;
			left: 0;
			.transform(rotate(45deg));
			.transformOrigin(100% 100%);
		}
	}
}