@import url(http://fonts.googleapis.com/css?family=Domine);

// mixins and vars
.standardFont {
	font-family: 'Domine', 'serif';
	-webkit-font-smoothing: antialiased;
}

// reset
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 16px;
	.standardFont;
	width: 100%;
}

// main styles