@import url(http://fonts.googleapis.com/css?family=Domine);

// mixins and vars
@white: #FFF;
@black: #000;
@lightBlue: #09455C;
@darkBlue: #213556;
@pink: #EF6362;
@lightGreen: #C9E7DD;
@darkGreen: #C4D224;
@lightGrey: #F3F5F2;
@darkGrey: #9E9A99;

.standardFont {
	font-family: 'Domine', 'serif';
	-webkit-font-smoothing: antialiased;
}

.textShadow(@offsetX: 1px, @offsetY: 1px, @blur: 1px, @color: fade(@black, 30%)) {
	text-shadow: @offsetX @offsetY @blur @color;
}

.boxShadow(@offsetX: 1px, @offsetY: 1px, @blur: 2px, @spread: 3px, @color: fade(@black, 50%)) {
	-moz-box-shadow: @offsetX @offsetY @blur @spread @color;
	-webkit-box-shadow: @offsetX @offsetY @blur @spread @color;
	box-shadow: @offsetX @offsetY @blur @spread @color;
}

.gradient (@startColor: fade(@white, 10%) , @endColor: @white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.transition(@target: all, @time: 200ms, @type: linear) {
	-moz-transition: @target @time @type;
	-o-transition: @target @time @type;
	-webkit-transition: @target @time @type;
	transition: @target @time @type;
}

.transform(@value) {
	-moz-transform: @value;
	-ms-transform: @value;
	-o-transform: @value;
	-webkit-transform: @value;
	transform: @value;
}

.transformOrigin(@value) {
	-moz-transform-origin: @value;
	-ms-transform-origin: @value;
	-o-transform-origin: @value;
	-webkit-transform-origin: @value;
	transform-origin: @value;
}

.borderRadius(@value) {
	-moz-border-radius: @value;
	-webkit-border-radius: @value;
	border-radius: @value;
}

.hidden {
	display: none;
	visibility: hidden;
}

// reset
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 16px;
	.standardFont;
	width: 100%;
}

// main styles
body {
	background-color: @darkBlue;
}

header {
	.gradient(fade(@white, 20%), fade(@white, 0%));
	padding: 3rem 0;
	text-align: center;
	width: 100%;

	h1 {
		color: @white;
		padding: 1.5rem 0 0 0;
		.textShadow;
	}

	a {
		display: inline-block;
		height: 320px;
		width: 320px;

		span {
			color: darken(@white, 10%);
			font-size: 3rem;
			.textShadow;
			position: absolute;
			left: 50%;
			top: 110px;
			.transform(translateX(-50%));
			.transition;
		}

		&:hover {
			span {
				color: @white;
			}
		}
	}

	p {
		color: @white;
		font-family: Arial;
		padding: 2rem 3rem;
	}

	svg {
		height: 100%;
		width: 100%;

		use {
			fill: @white;
			stroke: @white;
			stroke-width: 20;
			.transition;
		}

		&:hover {
			use {
				fill: fade(@white, 85%);
			}
		}
	}
}

main {

	h2 {
		color: @white;
		text-align: center;
		.textShadow;
		margin: 3rem 0 1rem;
	}

	ul {
		list-style: none;
		margin-bottom: 4rem;

		li {
			color: @white;
			font-family: Arial;
			text-align: center;
			margin-top: 1rem;

			span {
				display: block;
				.standardFont;
				font-weight: bold;
			}
		}
	}

	p {
		color: @white;
		font-family: Arial;
		padding: 0 3rem 1rem;
		text-align: center;
	}

	h2 + p,
	iframe + p {
		.standardFont;
	}

	iframe {
		background-color: @white;
		width: 100%;
		max-height: 300px;
		max-width: 400px;
		left: 50%;
		margin-bottom: 3rem;
		padding: 1rem;
		.transform(translateX(-50%));
	}

	article {
		width: 100%;
		margin-bottom: 3rem;

		h3 {
			color: @white;
			text-align: center;
			margin: 0.5rem 0;
		}

		p {
			color: @white;
			font-family: Arial;
			text-align: center;
			padding: 0 3rem 2rem;

			&:first-of-type {
				color: lighten(@lightBlue, 30%);
				font-size: 0.9rem;
				font-style: italic;
				padding: 0 1rem 2rem;
			}
		}

		img {
			background: @white;
			left: 50%;
			padding: 1rem;
			.transform(translateX(-50%));
			width: 100%;
			max-width: 400px;
		}
	}
}